@import "theme.less";


* {
  margin: 0;
  padding: 0;
}

body {
  color: @primary-colour;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: light;
}

g.bubble text {
  text-anchor: middle;
  fill: white;
}
