@import "theme.less";

* {
  margin: 0;
  padding: 0;
}

body {
  color: @primary-colour;
  font-family: "Noto Sans", Arial, sans-serif;
  // font-weight: light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Arial, sans-serif;
}

h1, h2 {
  margin: 10px 0;
}

ul, ol, p {
  padding: 5px 0 5px 20px;
}

a {
  color: @secondary-colour;

  &:hover {
    text-decoration: none;
  }
}

g.bubble text {
  text-anchor: middle;
  fill: white;
  dominant-baseline: central;
  pointer-events: none;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: lighter;
  // font-weight: lighter;
}

g.bubble circle {
  fill: lighten(@bubble-fill, 1%);
    stroke: @bubble-stroke;
    stroke-width: 1px;

    &:hover {
      fill: @bubble-stroke;
    }
}

@arrow-width: 5px;
@arrow-height: 10px;
@tooltip-border-width: 1px;

div.tooltip {
  position: absolute;
  padding: 5px;
  // height: 28px;
  font-size: 14px;
  background: white;
  border-bottom: @tooltip-border-width solid #000;
  pointer-events: none;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: lighter;
  box-shadow: rgba(0,0,0,0.3) 0 3px 10px 0;

  &:after{
    position: absolute;
    left:@arrow-width;
    bottom: -(@arrow-height + @tooltip-border-width);
    content: "";
    height: 0;
    width: 0;
    border-right: @arrow-width solid transparent;
    border-top: @arrow-height solid #333;
  }

  &:before{
    position: absolute;
    left:0px;
    bottom: -(@arrow-height + @tooltip-border-width);
    content: "";
    height: 0;
    width: 0;
    border-left: @arrow-width solid transparent;
    border-top: @arrow-height solid #ccc;
  }
}


.hiddenFlyover {
  transform: translateY(30%);
  opacity: 0;
  pointer-events: none;
}


::-webkit-scrollbar {
    width: 4px;
    padding-top: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f4f2f2;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #333;
}
