%h1= @type_class.model_name.human(count: 2).capitalize

%table.table.table-inverse.table-striped
  %thead
    %tr
      %th Name
      %th Wikipedia entry
      %th

  %tbody
    - @entities.each do |entity|
      %tr
        %td= entity.name
        %td= entity.wikipedia_entry
        %td= link_to 'Show', entity
